/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SYMBOL  1
#define NUMBER  2
#define SETTING 3

/ {
    combos {
        compatible = "zmk,combos";

        rt {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 5>;
            layers = <0>;
            timeout-ms = <50>;
        };

        yu {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <6 7>;
            layers = <0>;
            timeout-ms = <50>;
        };

        fg {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <16 17>;
            layers = <0>;
            timeout-ms = <50>;
        };

        hj {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <18 19>;
            layers = <0>;
            timeout-ms = <50>;
        };

        vb {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <28 29>;
            layers = <0>;
            timeout-ms = <50>;
        };

        nm {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <30 31>;
            layers = <0>;
            timeout-ms = <50>;
        };

        cv {
            bindings = <&kp BACKSLASH>;
            key-positions = <29 16>;
            layers = <0>;
            timeout-ms = <50>;
        };

        jb {
            bindings = <&kp SLASH>;
            key-positions = <30 19>;
            layers = <0>;
            timeout-ms = <50>;
        };

        gb {
            bindings = <&kp PIPE>;
            key-positions = <17 29>;
            timeout-ms = <50>;
        };

        hn {
            bindings = <&kp PIPE>;
            key-positions = <18 30>;
            timeout-ms = <50>;
        };
    };

    macros {
        my_phone: my_phone {
            compatible = "zmk,behavior-macro";
            label = "my_phone";
            #binding-cells = <0>;
            bindings = <&kp KP_NUMBER_1 &kp KP_NUMBER_8 &kp KP_NUMBER_6 &kp KP_NUMBER_0 &kp KP_NUMBER_5 &kp KP_NUMBER_0 &kp KP_NUMBER_9 &kp KP_NUMBER_0 &kp KP_NUMBER_5 &kp KP_NUMBER_0 &kp KP_NUMBER_3>;
        };
        mail_me: mail_me {
            compatible = "zmk,behavior-macro";
            label = "mail_me";
            #binding-cells = <0>;
            bindings = <&kp I &kp P &kp R &kp O &kp P &kp H &kp E &kp C &kp Y &kp AT_SIGN &kp M &kp E &kp DOT &kp C &kp O &kp M>;
        };
        mail_live: mail_live {
            compatible = "zmk,behavior-macro";
            label = "mail_live";
            #binding-cells = <0>;
            bindings = <&kp I &kp P &kp R &kp O &kp P &kp H &kp E &kp C &kp Y &kp AT &kp L &kp I &kp V &kp E &kp DOT &kp C &kp O &kp M>;
        };
        my_name: my_name {
            compatible = "zmk,behavior-macro";
            label = "MY_NAME";
            #binding-cells = <0>;
            bindings = <&kp I &kp P &kp R &kp KP_NUMBER_1 &kp N &kp C &kp E &kp S &kp S>;
        };
    };

    behaviors {
        tab_esc_ctrl: tab_esc_ctrl {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_ESC_CTRL";
            #binding-cells = <0>;
            bindings =
                <&mt LCTRL ESC>,
                <&kp TAB>;
        };
        gqt: gqt {
            compatible = "zmk,behavior-hold-tap";
            label = "GQT";
            bindings =
                <&kp>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            global-quick-tap;
        };
        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings =
                <&mo>,
                <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            global-quick-tap;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  Q  |  W  |  E  |  R       |  T  |     |  Y  |  U        |  I  |  O  |  P  |   BKSP    |
            // | SHFT |  A  |  S  |  D  |  F       |  G  |     |  H  |  J        |  K  |  L  |  ;  |     '     |
            // | CTRL |  Z  |  X  |  C  |  V       |  B  |     |  N  |  M        |  ,  |  .  |  /  | SHFT(RET) |
            //                    | GUI | SPC(NUM) | ALT |     | ENT | SPC(SYM)  | ALT |

            label = "base";
            bindings = <
             &kp ESC                &kp Q            &kp W         &kp E              &kp R                &kp T                    &kp Y               &kp U            &kp I             &kp O                    &kp P       &kp BSPC
&mt LEFT_CONTROL TAB  &gqt LEFT_COMMAND A  &gqt LEFT_ALT S  &gqt LCTRL D  &gqt LEFT_SHIFT F  &gqt LEFT_COMMAND G     &gqt RIGHT_COMMAND H  &gqt RIGHT_SHIFT J     &gqt RCTRL K  &gqt RIGHT_ALT L  &gqt RIGHT_COMMAND SEMI        &kp SQT
      &kp LEFT_SHIFT                &kp Z            &kp X         &kp C              &kp V                &kp B                    &kp N               &kp M        &kp COMMA           &kp DOT                 &kp FSLH  &mt RSHFT RET
                                                                &kp LGUI        &lt 1 SPACE        &tab_esc_ctrl    &mt RIGHT_SHIFT ENTER    &ltq 2 BACKSPACE  &kp PAUSE_BREAK
            >;
        };

        number {
            // -----------------------------------------------------------------------------------------
            // | ESC  |  !  |  @  |  #  |  $  |  %  |     |  ^   |  &   |  *   |  (   |  )  | DEL |
            // |      | CAPS|     |  {  |  }  | "|" |     | LEFT | DOWN |  UP  | RGT  |  :  |  "  |
            // |      |     |     |     |  `  |  ~  |     | HOME | END  | PGUP | PGDN | INS | ALT |
            //                    |     | SET |     |     |      |      |      |

            label = "NUMBER";
            bindings = <
 &kp ESC  &kp KP_N1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5    &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0    &kp DEL
&kp CAPS   &kp HOME         &kp LEFT           &kp UP        &kp RIGHT      &kp PAGE_UP          &kp MINUS  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6        &kp EQUAL    &kp DOT
  &trans     &kp F5          &kp F12         &kp DOWN          &kp END    &kp PAGE_DOWN           &kp PLUS  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3         &kp STAR  &kp SLASH
                                               &trans           &trans         &kp CAPS            &kp DEL            &mo 3           &trans
            >;
        };

        symbol {
            // -----------------------------------------------------------------------------------------
            // | ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL  |
            // | SHF |  F1 |  F2 |  F3 | F4  |  F5 |   |  -  |  =  |  [  |  ]  |  \  | F11  |
            // | CTL |  F6 |  F7 |  F8 | F9  | F10 |   |  _  |  +  |  {  |  }  | "|" | F12  |
            //                   |     |     |     |   | SET |     |     |

            label = "symbol";
            bindings = <
&trans  &kp EXCL    &kp AT    &kp HASH          &kp DLLR   &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LPAR       &kp RPAR  &trans
&trans   &kp TAB  &my_name   &my_phone  &kp SINGLE_QUOTE     &kp GRAVE    &kp MINUS      &kp EQUAL      &kp LBKT  &kp RBKT       &kp PIPE  &trans
&trans    &trans  &mail_me  &mail_live           &kp DQT     &kp TILDE    &kp UNDER       &kp PLUS      &kp LBRC  &kp RBRC  &kp BACKSLASH  &trans
                                &trans             &mo 3  &kp LEFT_ALT      &kp DEL  &kp BACKSPACE        &trans
            >;
        };

        ble {
            // -----------------------------------------------------------------------------------------
            // | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ | | RGB TOG |     |  BT1  | BT2 | BT3 | BT4 | BT5 | BT CLR |
            // | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI- | |         |     |       |     |     |     |     |        |
            // |          |          |          |          | |         |     | RESET |     |     |     |     |        |
            //                                  |          | |         |     |       |     |     |

            label = "ble";
            bindings = <
    &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4              &none  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none  &kp BACKSPACE
    &trans         &none         &none         &none    &bt BT_CLR  &out OUT_TOG              &none  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none          &none
&sys_reset   &bootloader         &none         &none  &out OUT_USB  &out OUT_BLE              &none  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none          &none
                                              &trans         &none         &none    &kp KP_NUMBER_0  &kp KP_NUMBER_0           &trans
            >;
        };

        HOTKEY {
            bindings = <
&trans  &mail_me  &mail_live  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans      &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans      &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                              &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
